.travelplanning-margin{
    margin-left: 20%;
}
.table-border{
    border-color: white;
    border-style: dotted;
    width: 80%;
    margin-left: 10%;
}

a:hover {
    background-color: #ddd;
    color: blue;
    margin-left: 20%;
  }
  
  .previous {
    background-color: #f1f1f1;
    color: black;
  }

  .bouton-plannings{
    margin-top:5%;
      margin-bottom: 10%;
      margin-left: 38%;
      display: inline-block;
      padding: 10px 20px;
      font-size: 20px;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
      outline: none;
      color: #fff;
      background-color: #14054f;
      border: none;
      border-radius: 15px;
      box-shadow: 0 9px #999;
  }
  .button:hover {background-color: #3e8e41}
  
  .button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  