
       
           
         <form  class="form-section" [formGroup]="myForm"  (ngSubmit)="add()" > <!---->
           <h1>create a Travel Planning !</h1>
        
   
        
   
           <div class="form-group">
               <label>enter travel schedule</label>
               <input type="text"  class="form-control" name="schedule"  formControlName="schedule"> 
           </div>
          
           <div class="form-group">
           <label>enter description</label>
           <input type="text" class="form-control" formControlName="description">
           </div> 
       
           <div class="form-group">
               <label>enter day</label>
               <input type="text"  class="form-control"  formControlName="day">
               </div> 
       
     
         <div class="boutonAddtravel"><input  type="submit" class="btn btn-success" value="Submit" onclick="alert('Hello\ the travel planning has been created successfully')"> </div>
   
         <div class=""><input type="submit" class="btn btn-primary"  routerLink="/view" value="See Plannings"> </div>
       
       </form>
          
       
