<section id="hero-1" >
  <div class="container">
 

    <div class="sub-main" >
      <button routerLink="/effectemployee" style="height: 60px; width:25%; margin-right: 18% ; color: white; font-size: large; font-style:italic;"   class="custom-btn btn-2">Affect Employee</button>
    </div>

    
    <div class="sub-main">
      <button style="height: 60px; width:25%; margin-right: 18% ; color: white; font-size: large; font-style:italic; margin-top: 2%;" routerLink="/statistics"  class="custom-btn btn-2">View Statistics</button>
    </div>


 
  

  </div>
</section>

<section class="normal-scroll">

  <div class="intoduction-section">
    The opportunities offered by networking, informal exchanges and mutual meeting are powerful triggers and enablers for business development and expansion.

    Fortune favors the brave, people who try, who dare. Reason why, we are proposing to create this chance to different companies to develop their network, to put them in touching order to create this opportunity and promote the emergence of partnerships that could have been unexpected.
    
    Throughout “Travel& Business” application, we will connect, through a matching algorithm, travelers from different companies in order to promote the emergence of partnerships, boost their future collaborations and accelerate their business development.
    
  </div>
  
 
</section>

<section id="hero-2">
  <div class="container" style="margin-right: 15%;">
    Business  & Travel
    <h1 style="color: black; font-size: x-large; color: rgb(25, 70, 252); font-style: oblique;"> Ameliorate you're professional network with us</h1>
   </div>
</section>

<section class="normal-scroll">
  <div class="container" style="margin-right: 50% !important; ">
    Our Team membres:
    <div >
    <img  src="https://scontent.ftun14-1.fna.fbcdn.net/v/t39.30808-6/279738630_146278384584151_5862991196006032773_n.jpg?_nc_cat=109&ccb=1-5&_nc_sid=730e14&_nc_ohc=VooqbSQB7A0AX-24UAA&_nc_ht=scontent.ftun14-1.fna&oh=00_AT_ZEl_K4HDLzc_lPxHVg47cwNmm88sdt_JAoUXIKmK79A&oe=62775167" style="width: 25%;">
    <div class="container" style="width: 17%;">Youssef Briouza<h1 style="color: black; font-size: x-large; color: rgb(1, 91, 155); font-style: oblique;">Founder</h1></div>
    <img src="https://scontent.ftun14-1.fna.fbcdn.net/v/t39.30808-6/279559221_146278287917494_3645696668575827341_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=730e14&_nc_ohc=FWxNIQmp-y8AX8qmP0t&_nc_ht=scontent.ftun14-1.fna&oh=00_AT-ohpFUG_Dto4pjML3WErcTVqwsdvckaB644VpLxv1Wbw&oe=62775A51" style="width: 25%;">
    <div class="container" style="width: 17%;">Mariem BenArfa<h1 style="color: black; font-size: x-large; color: rgb(1, 91, 155); font-style: oblique;">Co-founder</h1></div>

    <img src="https://scontent.ftun14-1.fna.fbcdn.net/v/t39.30808-6/279581053_146278211250835_4828167247659883866_n.jpg?_nc_cat=105&ccb=1-5&_nc_sid=730e14&_nc_ohc=s4fSW0NaxfAAX_2SVIE&tn=XoSkX96-7h9dmYAh&_nc_ht=scontent.ftun14-1.fna&oh=00_AT9InG06qcUPuYoMrUQ8r0p_Eaj8n3FYwhzXzQ6dDbWBJA&oe=6276CF93"  style="width: 25%;">
    <div class="container" style="width: 17%;">Yassine Brirmi
      <h1 style="color: black; font-size: x-large; color: rgb(1, 91, 155); font-style: oblique;">General Secretary</h1></div>

    <img src="https://scontent.ftun14-1.fna.fbcdn.net/v/t39.30808-6/279638195_146280637917259_8349412943830834708_n.jpg?_nc_cat=109&ccb=1-5&_nc_sid=730e14&_nc_ohc=ynnuXRlBWX0AX-Wgl7a&tn=XoSkX96-7h9dmYAh&_nc_ht=scontent.ftun14-1.fna&oh=00_AT9EtqLONrqeh2twQ9vCDGamssTwUw0XCul4b_KnUAW7Lg&oe=62771EFC" style="width: 25%;">
    <div class="container" style="width: 17%;">Olfa Selmi<h1 style="color: black; font-size: x-large; color: rgb(1, 91, 155); font-style: oblique;">Web-Designer</h1></div>

    <img src="https://scontent.ftun14-1.fna.fbcdn.net/v/t39.30808-6/279739883_146279777917345_8738903321059006167_n.jpg?_nc_cat=100&ccb=1-5&_nc_sid=730e14&_nc_ohc=Sn57jssLHaMAX_znQ7i&_nc_ht=scontent.ftun14-1.fna&oh=00_AT9HHsJUWiliHen8Pwwd6b7Sht_OJayy1DiHyL0n9H1srQ&oe=6276E07E" style="width: 25%;">
    <div class="container" style="width: 17%;">Sihem Gmiza<h1 style="color: black; font-size: x-large; color: rgb(1, 91, 155); font-style: oblique;">CEO</h1></div>

   
 </div>
 </div>
</section>

<section id="hero-3">
  <div class="container" >
 contact us : 
   <div>

   </div>
  </div>
</section>