.textlogo{


    display: flex; /* establish flex container */
    justify-content: center; /* center flex items horizontally, in this case */
    align-items: center; /* center flex items vertically, in this case */
  
    font-family: -apple-system;
    font-size: xxx-large;
    color: black;
  }
  