

<form  class="form-section" [formGroup]="myForm"  (ngSubmit)="add(4)">
    <h1>create a new Profil !</h1>
    <div class="form-group">
        <label>Profil metric</label>
        <input type="text"  class="form-control" name="metric"  formControlName="metric"> 
    </div>
   
    <div class="form-group">
    <label>profession </label>
    <input type="text" class="form-control" formControlName="profession ">
    </div> 

    <div class="form-group">
        <label>domain</label>
        <input type="text"  class="form-control"  formControlName="domain">
        </div> 


    <div class="form-group">
        <label>profil followersNbr</label>
        <input type="number"  class="form-control" name="followersNbr"  formControlName="followersNbr"> 
    </div>
    
  <div class="boutonAddProfil"><input type="submit" class="btn btn-primary" value="Submit"> </div>
  
 <!--mouch feragh-->
        
</form>



<router-outlet></router-outlet>

