<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                ADD TO MATCHING LIST
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <form class="form-section" [formGroup]="myForm" (ngSubmit)="add()">

                    <div class="form-group">
                        <label>idu</label>
                        <input type="number" class="form-control" name="idu" formControlName="idu">
                    </div>

                    <div class="form-group">
                        <label>idt</label>
                        <input type="number" class="form-control" name="idt" formControlName="idt">
                    </div>




                    <div class="boutonAddtrip mt-4"><input type="submit" class="btn btn-primary" value="Submit"> </div>

                    <!--mouch feragh-->


                </form>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                CONFIRM MATCH FOR TWO EMPLOYEES FROM THE WAITING LIST
            </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <form class="form-section" [formGroup]="matchForm" (ngSubmit)="match()">

                    <div class="form-group">
                        <label>idu</label>
                        <input type="number" class="form-control" name="idu" formControlName="idu">
                    </div>

                    <div class="form-group">
                        <label>idt</label>
                        <input type="number" class="form-control" name="idt" formControlName="idt">
                    </div>




                    <div class="boutonAddtrip mt-4"><input type="submit" class="btn btn-primary" value="Submit"> </div>

                    <!--mouch feragh-->


                </form>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                ** TRI OF ALL KINDS OF ATTRIBUT FOR THE SELECTED EMPLOYEE **
            </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <h5> ALL ATRIBUTS TRI </h5>
                <div class="row">
                    <form [formGroup]="myFormSearch" (ngSubmit)="get()">
                        <div class="col-md-2">
                            <input placeholder="Type a user id" class="mb-2" type="text" formControlName="idu"
                                pInputText>
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-success mr-4" type="submit"
                                [disabled]="myFormSearch.invalid">Search</button>
                        </div>
                    </form>
                </div>
                <div class="card">
                    <div *ngIf="isLoading">
                        <p-progressSpinner></p-progressSpinner>
                    </div>

                    <p-table [value]="listTrips">
                        <ng-template pTemplate="header">
                            <tr>
                                <th pSortableColumn="codeMatche">codeMatche <p-sortIcon field="codeMatche"></p-sortIcon>
                                </th>
                                <th pSortableColumn="dateBegin">dateBegin <p-sortIcon field="dateBegin"></p-sortIcon>
                                </th>
                                <th pSortableColumn="dateEnd">dateEnd <p-sortIcon field="dateEnd"></p-sortIcon>
                                </th>
                                <th pSortableColumn="destination">destination <p-sortIcon field="destination">
                                    </p-sortIcon>
                                </th>
                                <th pSortableColumn="domain">domain <p-sortIcon field="domain"></p-sortIcon>
                                </th>
                                <th pSortableColumn="duration">duration <p-sortIcon field="duration"></p-sortIcon>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-product>
                            <tr>
                                <td>{{product.codeMatche}}</td>
                                <td>{{product.dateBegin | date :'shortDate'}}</td>
                                <td>{{product.dateEnd | date :'shortDate'}}</td>
                                <td>{{product.destination}}</td>
                                <td>{{product.domain}}</td>
                                <td>{{product.duration}}</td>

                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>
</div>