
<form  class="form-section" [formGroup]="myForm"  (ngSubmit)="add()">
    <h1>create a new opportunity !</h1>
    <div class="form-group">
        <label>opportunity description</label>
        <input type="text"  class="form-control" name="description"  formControlName="description"> 
    </div>
   
    <div class="form-group">
    <label>date</label>
    <input type="date" class="form-control" formControlName="date">
    </div>
    
    <div>
        <label>opportunity type</label>
    </div>  
    <div class="form-group">
       
        <select name="typeo" formControlName="typeo" > 
            <option value="Buy_a_Franchise"> Buy a Franchise</option>                  
            <option value="Selling"> Selling</option> 
            <option value="event"> event</option>                  
            <option value="training"> training</option> 
            <option value="stage"> stage</option>                  
            <option value="Distributorship"> Distributorship</option> 
            <option value="Dealership"> Dealership</option>                  
            <option value="Network_Marketing"> Network_Marketing</option>  
            <option value="Licensing"> Licensing</option>                  
            <option value=" Filling_a_Niche">  Filling_a_Niche</option> 
        </select>
      
    </div>
    
    <div class="boutonAddopportunity"><input type="submit" class="btn btn-success" value="Submit"> </div>
  
    
        
</form>

