<div class="vertical-menu" [hidden]="!loggedIn">

    <div data-simplebar class="h-100">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title" style="font-size: 15px;">La Poste Tunisienne</li>

                <li>
                    <a routerLink="/home" class="waves-effect"  routerLinkActive=" mm-active">
                        <i class="dripicons-device-desktop"></i>
                        <span>Accueil</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/users"  class="waves-effect">
                        <i  class="dripicons-blog"> </i>
                        <span> Utilisateurs </span>
                    </a>
                  
                </li>
           
             
                <li>
                    <a routerLink="/opportunity"  class="waves-effect">
                        <i  class="dripicons-suitcase"></i>
                        <span>Agence/Bureau Postale</span>
                    </a>
                  
                </li>

               
              
                

                <li>
                    <a routerLink="/Equipement" class="waves-effect" routerLinkActive=" mm-active"> 
                        <i class="dripicons-blog"></i>
                        <span> Equipements </span>
                    </a>
                  
                </li>
                <li>
                    <a class="waves-effect">
                        <i class="dripicons-mail"></i>
                        <span> Réclamation </span>
                    </a>
                  
                </li>
                <li>
                    <a routerLink="chat" class="waves-effect" routerLinkActive=" mm-active">
                        <i class="dripicons-box"></i>
                        <span> Discussion </span>
                    </a>
                  
                </li>
                <li>
                    <a routerLink="/forum" class="waves-effect" routerLinkActive=" mm-active" >
                        <i class="dripicons-blog"></i>
                        <span> Forum </span>
                    </a>
                  
                </li>
                <li>
                    <a routerLink="/travel"  class="waves-effect">
                        <i  class="dripicons-suitcase"></i>
                        <span> Travels </span>
                    </a>
                  
                </li>
                <li>
                    <a routerLink="/opportunity"  class="waves-effect">
                        <i  class="dripicons-suitcase"></i>
                        <span> Opportunities </span>
                    </a>
                  
                </li>

               


               

                <li>
                    <a  class="waves-effect">
                        <i class="dripicons-calendar"></i>
                        <span> Events </span>
                    </a>
                  
                </li>

               
               

            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>