<div class="section">
    <form class="" [formGroup]="myForm" (ngSubmit)="edit()">
        <input formControlName="idTravel"  formControlName="idTravel"  readonly>  
        <div class="form-group">
         
            
            <label>destination</label>
            <input type="text"   class="form-control" formControlName="destination"> 
    
            <label>start date</label>
            <input type="date"   class="form-control" formControlName="startDate"> 
            
            <label>end date</label>
            <input type="date"   class="form-control" formControlName="endDate"> 
     
            <label>objet</label>
            <input type="text" 
            class="form-control" formControlName="objet">
        </div> 
      
       
       <div> 
            <input type="submit" class="btn btn-primary" value="Update Travel " style="margin-top: 2%;" >     
       </div>   
       
       <div> <input type="submit" class="btn btn-danger" routerLink="/travel" value="annuler" style="margin-top: 2%;">   </div>  
    </form>
    </div>
    
    